

.Encabezado {
	padding: 10px;
	background-color: black;
	
  font-family: Courier New;
  font-size: 20px;
  color: white;
}




.img {
	margin-top: 100px;



}

.Encabezado{ margin-top: -100;

}

.titulo { 
	background-color: black;
	margin-top: 100px;
	font-family: Courier New;
	font-size: 30px;
	color: white;
}

.cuerpo2 { font-size: 10;
}
 
.img2 {margin-top: 100px;

}

.autor{ 
	background-color: black;
	margin-top: 10px;
	font-family: Courier New;
	font-size: 30px;
	color: white;
 }

.imgsvg { 
margin-top: 100px;

}

.Referencias {
	background-color: black;
	margin-top: 10px;
	font-family: Courier New;
	font-size: 30px;
	color: white;

}







